@import "tailwindcss";

:root {
  --background: #0b0f1a;
  --foreground: #ededed;

  /* cursor vars */
  --x: 50vw;
  --y: 50vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background: transparent;
  /* IMPORTANT */
}

/* interactive background layer */
.cursor-splash-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background:
    radial-gradient(180px at var(--x) var(--y),
      rgba(255, 255, 255, 0.08),
      transparent 60%),
    linear-gradient(135deg, #05070f, #120a2a, #05070f);

  transition: background-position 0.05s linear;
}

.cursor-splash-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(320px at var(--x) var(--y),
      rgba(147, 51, 234, 0.05),
      transparent 70%);
}